{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrar no Chat</title>
  <link rel="shortcut icon" href="{% static 'global/images/chat.ico' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'global/css/home.css' %}">
</head>
<body>
  <div class="login-container">
    {% include 'partials/_messages.html' %}
    <h1>💬 Bem-vindo ao RealTime Chat</h1>
    <form action="{% url 'home' %}" method="POST">{% csrf_token %}
      {% for field in form %}
        {{ field }}
      {% endfor %}
      <button type="submit">
        <a href="{% url 'chats' %}">Sala de Chats</a>
      </button>
    </form>
    <div class="links">
      <a href="{% url 'register' %}">Não possui conta? Clique aqui!</a><br>
    </div>
    <div class="footer">Aproveita aí</div>
  </div>
</body>
</html>