{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="shortcut icon" href="{% static 'global/images/chat.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'global/css/register.css' %}">
</head>
<body>
  <div class="register-container">
    {% for message in messages%}
      {% if 'error' in message.tags %}
        <div class="error-message">{{ message }}</div>
      {% else %}
        <div class="success-message">{{ message }}</div>
      {% endif %}
    {% endfor %}
    <h1>📝 Crie sua conta</h1>
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
      <input type="text" name="username" placeholder="Nome de usuário" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Senha" required>
      <input type="file" name="avatar" accept="image/*" placeholder="Foto de perfil (opcional)">
      <textarea name="bio" rows="3" placeholder="Sua bio (opcional)"></textarea>
      <button type="submit">Criar Conta</button>
    </form>
    <div class="footer">Python + Django é muito massa 🚀</div>
  </div>
</body>
</html>