{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/chats.css' %}">
    {% include 'partials/_links.html' %}
    <title>Chats Disponíveis</title>
</head>
<body>
    <header class="header">
        <h1>Salas Disponíveis</h1>
        <div class="create-room">
            <a href="{% url 'create_chat' %}" class="btn-create-room">Criar Nova Sala</a>
        </div>
    </header>
    <main class="chat-grid">
        {% for chat in chats %}
            <div class="chat-card">
                <h3 class="chat-title">{{ chat }}</h3>
                <p id="user-count-{{ chat.name }}" class="chat-users">
                    {% if onlines|get_item:chat.name == 0 %}
                        Nenhum usuário online
                    {% else %}
                        🟢 {{ onlines|get_item:chat.name }} usuários online
                    {% endif %}
                </p>
                <a href="{% url 'room' chat %}" class="btn-enter-room">Entrar na Sala</a>
            </div>
        {% endfor %}
    </main>
    <script src="{% static 'global/js/lobby.js' %}"></script>
</body>
</html>