{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/chats.css' %}">
    {% include 'partials/_links.html' %}
    <title>Chats Disponíveis</title>
</head>
<body>
    <header>
    <div class="room-name">Meu Perfil</div>
      <div class="dropdown">
      {% if user == request.user %}      
        {% if request.user.image_profile %}
          <img src="{{ request.user.image_profile.url }}" alt="Perfil" class="profile-pic">
        {% else %}
          <img src="{% static 'global/images/image_default.png' %}" alt="Perfil" class="profile-pic">
        {% endif %}
        <div class="dropdown-content"> 
          <a href="{% url 'my_profile' user.username %}">Meu Perfil</a>   
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      {% else %}
        {% if request.user.image_profile %}
          <img src="{{ request.user.image_profile.url }}" alt="Perfil" class="profile-pic">
        {% else %}
          <img src="{% static 'global/images/image_default.png' %}" alt="Perfil" class="profile-pic">
        {% endif %}
        <div class="dropdown-content">    
          <a href="{% url 'my_profile' request.user.username %}">Meu Perfil</a>
          <a href="{% url 'chats' %}">Lobby</a>
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      {% endif %}
    </div>
  </header>
    <main class="chat-grid">
        {% for chat in chats %}
            <div class="chat-card">
                <h3 class="chat-title">{{ chat }}</h3>
                <p id="user-count-{{ chat.name }}" class="chat-users">
                    {% if onlines|get_item:chat.name == 0 %}
                        Nenhum usuário online
                    {% else %}
                        🟢 {{ onlines|get_item:chat.name }} usuários online
                    {% endif %}
                </p>
                <a href="{% url 'room' chat %}" class="btn-enter-room">Entrar na Sala</a>
            </div>
        {% endfor %}
        <div class="chat-card create-room-card">
            <a href="{% url 'create_chat' %}" class="btn-create-room-large">+ Criar Nova Sala</a>
        </div>
    </main>
    <script src="{% static 'global/js/lobby.js' %}"></script>
</body>
</html>