{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'global/css/profile.css' %}" />
  {% include 'partials/_links.html' %}
  <title>Perfil do Usuário</title>
</head>
<body>
  <header>
    <div class="room-name">Meu Perfil</div>
      <div class="dropdown">
      {% if request.user.image_profile %}
        <img src="{{ request.user.image_profile.url }}" alt="Perfil" class="profile-pic">
      {% else %}
        <img src="{% static 'global/images/image_default.png' %}" alt="Perfil" class="profile-pic">
      {% endif %}
      <div class="dropdown-content">    
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </header>
  <div class="profile-container">
    {% if user_profile.image_profile %}
      <img src="{{ user_profile.image_profile.url }}" alt="Foto de perfil" class="profile-img" />
    {% else %}
      <img src="{% static 'global/images/image_default.png' %}" alt="Foto de perfil padrão" class="profile-img" />
    {% endif %}
    <div class="username">@{{ user_profile.username }}</div>
    <div class="bio">{{ user_profile.bio|default:"..." }}</div>
    <button>
      <a href="{% url 'register_update' user.id %}">Atualizar Perfil</a>
    </button>
  </div>
  </div>
</body>
</html>